.menu-card {
  width: 80%;
  border: 1px solid gray;
  padding: 10px 30px;
  margin-bottom: 5px;
  border-radius: 10px;
  /* background-color: #f2f2f2; */
}

.menu-card .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menu-card .name p {
  font-weight: bold;
  font-size: 1.7rem;
}

.menu-card .name svg {
  font-size: 1.7rem;
}
