.menu-page {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100%;
  padding-top: 250px;
  padding-bottom: 30px;
}

.menu-page .menu {
  width: 60%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 376px){
  .menu-page{
    flex-direction: column;
  }

  .menu-page .menu {
    width: 100%;
    padding: 10px;
  }

  .menu-page .order {
    width: 80%;
    margin: 15px;
  }
}

